<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>01_Servlet_Get_Post_Demo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Getdemo</display-name>
    <servlet-name>Getdemo</servlet-name>
    <servlet-class>com.Getdemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Getdemo</servlet-name>
    <url-pattern>/Getdemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Postdemo1</display-name>
    <servlet-name>Postdemo1</servlet-name>
    <servlet-class>com.Postdemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Postdemo1</servlet-name>
    <url-pattern>/Postdemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Second</display-name>
    <servlet-name>Second</servlet-name>
    <servlet-class>com.Second</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Second</servlet-name>
    <url-pattern>/Second</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardcookieServlet</display-name>
    <servlet-name>DashboardcookieServlet</servlet-name>
    <servlet-class>sessiontrack.cookie.DashboardcookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardcookieServlet</servlet-name>
    <url-pattern>/DashboardcookieServlet</url-pattern>
  </servlet-mapping>
</web-app>